* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

.wrapper {
   min-height: 100%;
   width: 1440px;
   margin: 0px auto;
}

.header__top {
   height: 80px;
   background-color: #FFFFFF;

   nav {
      display: inline-block;
   }
}

.header__logo {
   display: inline-block;
   margin-top: 27px;
   margin-left: 117px;
   margin-right: 73px;

   img {
      vertical-align: middle;
   }
}

a.nav1 {
   display: inline-block;
   font-size: 12px;
   line-height: 15px;
   margin-top: 33px;
   margin-right: 42px;
   color: #697CA6;
}

#F {
   display: inline-block;
   margin-left: 319px;
   margin-top: 32px;
   margin-right: 37.58px;

   img {
      vertical-align: middle;
   }
}

#Tel {
   display: inline-block;
   margin-top: 34.95px;
   margin-right: 34.54px;

   img {
      vertical-align: middle;
   }
}

#tw {
   display: inline-block;
   margin-top: 34.21px;
   margin-right: 33.46px;

   img {
      vertical-align: middle;
   }
}

#M {
   display: inline-block;
   margin-top: 34.21px;
   margin-right: 44px;

   img {
      vertical-align: middle;
   }
}

nav button {
   text-align: center;
   color: #3A79FF;
   font-size: 13px;
   line-height: 16px;
   background-color: #D2E1FF;
   border-left: 16px solid #D2E1FF;
   border-top: 13px solid #D2E1FF;
   border-right: 15px solid #D2E1FF;
   border-bottom: 13px solid #D2E1FF;
}

.border__line {
   width: 1440px;
   height: 1px;
   color: #D8E3FE;
   background-color: #D8E3FE;
}

.swiper {
   width: 1440px;
   height: 570px;
}

.img__wrapper {
   position: relative;
   z-index: 1;
}

.fone {
   position: absolute;
   z-index: 2;
}

.vector {
   position: absolute;
   z-index: 3;
   top: 387px;
   left: 470px;
   vertical-align: middle;
}

.header__bottom {
   width: 1440px;
   height: 145px;
   background-color: #FFFFFF;

   img {
      display: inline-block;
      vertical-align: middle;
   }
}

#img1 {
   margin-left: 276px;
   margin-top: 58px;
   margin-right: 76.5px;
}

#img2 {
   margin-top: 60.65px;
   margin-right: 76.5px;
}

#img3 {
   margin-top: 61.54px;
   margin-right: 75.59px;
}

#img4 {
   margin-top: 60.65px;
   margin-right: 76.51px;
}

#img5 {
   margin-top: 58px;
}

.plan__manage {
   width: 1440px;
   height: 776px;
   background-color: #F5F8FF;
   display: inline-block;
   position: relative;


   .plane__p1 {
      font-size: 10px;
      line-height: 12px;
      color: #3D4F9F;
      padding-top: 210px;
      padding-left: 271px;
   }

   .plane__p2 {
      font-size: 36px;
      line-height: 45px;
      color: #3D4F9F;
      padding-top: 27px;
      padding-left: 271px;
   }

   .plane__p3 {

      font-size: 15px;
      line-height: 29px;
      color: #8D96BD;
      padding-top: 27px;
      padding-left: 271px;
   }

   .button1 {
      margin-top: 60px;
      margin-left: 296px;
      font-size: 13px;
      line-height: 16px;
      color: #FFFFFF;
      background-color: #4C85FF;
      border-top: 13px solid #4C85FF;
      border-bottom: 13px solid #4C85FF;
      border-left: 25px solid #4C85FF;
      border-right: 37px solid #4C85FF;
      box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);

      img {
         position: relative;
         left: 6px;
         vertical-align: middle;
      }
   }

   .button2 {
      font-size: 13px;
      line-height: 16px;
      color: #ADB4D2;
      background-color: #F5F8FF;
      width: 130.08px;
      height: 43px;
      border: 1px solid #D1D1E4;
   }
}


.plane__img {
   display: inline-block;
   position: absolute;
   left: 600px;
   top: 130px;

   img {
      vertical-align: middle;
      filter: drop-shadow(0px 100px 150px #F2F6FF);
   }
}

.read__app {
   position: relative;
   width: 1441px;
   height: 885px;
   background: #FFFFFF;
}

.img__clouds {
   #cloud_1 {
      position: absolute;
      left: 225px;
      top: 143.22px;

   }

   #cloud_2 {
      position: absolute;
      left: 258.39px;
      top: 141px;
   }

   #cloud_3 {
      position: absolute;
      left: 155px;
      top: 643px;
   }

   #cloud_4 {
      position: absolute;
      left: 162px;
      top: 634px;
   }

   #cloud_5 {
      position: absolute;
      left: 209px;
      top: 656px;
   }

   #cloud_6 {
      position: absolute;
      left: 126px;
      top: 650px;
   }

   #cloud_7 {
      position: absolute;
      left: 1223.97px;
      top: 219px;
   }

   #cloud_8 {
      position: absolute;
      left: 1296px;
      top: 203px;
   }

   #cloud_9 {
      position: absolute;
      left: 1211px;
      top: 222.61px;
   }

   #cloud_10 {
      position: absolute;
      left: 1275.84px;
      top: 239px;
   }
}

.title__about {
   text-align: center;
   font-size: 10px;
   line-height: 12px;
   color: #3D4F9F;
   padding-top: 171px;
   padding-bottom: 20px;
}

.title__about2 {
   text-align: center;
   font-size: 24px;
   line-height: 30px;
   color: #3D4F9F;
   padding-bottom: 92px;
}

.about__icons {
   display: flex;
   justify-content: space-around;
   padding-left: 340px;
   padding-right: 340px;
   height: 254px;
}

.about__icon {
   position: relative;
   width: 140px;
   height: 102px;
}

.icon__img1 {
   position: relative;
   vertical-align: middle;
   padding-bottom: 33px;
   left: 36px;

}

.icon__img2 {
   display: inline-block;
   position: absolute;
   vertical-align: middle;
   top: 25px;
   left: 61px;
}

.icon__text1 {
   font-size: 14px;
   line-height: 25px;
   text-align: center;
   color: #4074F8;
   padding-bottom: 25px;
}

.icon__text2 {
   font-size: 11px;
   line-height: 19px;
   text-align: center;
   color: #ADB3CB;
}

.tire {
   margin-top: 127px;
   width: 20px;
   height: 1px;
   color: #DAE4FE;
   background-color: #D8E3FE;
}

.buttons__or {
   padding-top: 92px;
   display: flex;
   justify-content: center;
}

#button_red {
   font-weight: 700;
   font-size: 13px;
   line-height: 16px;
   color: #D43F3F;
   background-color: #FFD7D7;
   width: 113px;
   height: 43px;
}

.tire__button {
   margin-top: 21.5px;
   margin-right: 16px;
   margin-left: 16px;
   width: 15px;
   height: 1px;
   background-color: #D8E3FE
}

.or {
   font-weight: 600;
   font-size: 11px;
   line-height: 19px;
   text-align: center;
   color: #ADB3CB;
   margin: auto 0px;
}

#button_blue {
   font-weight: 700;
   font-size: 13px;
   line-height: 16px;
   color: #3A79FF;
   background: #D2E1FF;
   width: 113px;
   height: 43px;
}

.img__contaner {
   display: flex;
}

.contaner__1 {
   height: 342px;
   width: 720px;
   background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}

.img__strelka {
   padding: 66px 90px 24px 565px;
}

.paragraf__1 {
   padding: 0 90px 0 534px;
   font-weight: 400;
   font-size: 48px;
   line-height: 83px;
   /* identical to box height */

   text-align: right;
   letter-spacing: 0.03em;

   color: #FFFFFF;
}

.paragraf__2 {
   padding: 0 90px 0 370px;
   font-weight: 500;
   font-size: 18px;
   line-height: 23px;
   text-align: right;
   letter-spacing: 0.03em;

   color: #FFFFFF;

}

.contaner__2 {
   height: 342px;
   width: 720px;
   background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}

.img__people {
   padding: 70px 0 24px 94px;
}

.paragraf__3 {
   padding-left: 90px;
   font-weight: 400;
   font-size: 48px;
   line-height: 83px;
   /* identical to box height */

   letter-spacing: 0.03em;

   color: #5E80FF;
}

.paragraf__4 {
   padding-left: 90px;
   font-weight: 500;
   font-size: 18px;
   line-height: 23px;
   letter-spacing: 0.03em;

   color: #5E80FF;
}

.swiper__block {
   width: 1440px;
   height: 865px;

   background: #F5F8FF;
}

.swiper__text1 {
   text-align: center;
   padding-top: 104px;
   padding-bottom: 20px;
   font-weight: 500;
   font-size: 10px;
   line-height: 12px;
   /* identical to box height */

   letter-spacing: 0.1em;
   text-transform: uppercase;

   color: #3D4F9F;
}

.swiper__texet2 {
   font-weight: 500;
   font-size: 24px;
   line-height: 30px;
   /* identical to box height */

   text-align: center;

   color: #3D4F9F;
}

.slide__contaner {
   width: 958px;
   height: 394px;
   background: #FFFFFF;
   border: 1px solid #D8E3FE;
   box-shadow: 0px 15px 50px #EFF4FF;
   margin-top: 92px;
   margin-left: 241px;
}

.slide__img1 {
   position: relative;
   top: -6%;
   left: -6%;
}

.slide__img2 {
   position: absolute;
   top: 12%;
   left: 32.5%;
}

.slide__img3 {
   position: absolute;
   top: 36.6%;
   left: 32.5%;
}

.img__loop {
   z-index: 1;
   position: absolute;
   vertical-align: middle;
   left: 26.8%;
   top: 45%;
   border-radius: 50%;
}

.swiper__text3 {
   position: absolute;

   top: 27%;
   left: 52%;
   font-weight: 400;
   font-size: 36px;
   line-height: 45px;
   /* identical to box height */


   color: #3D4F9F;
}

.swiper__text4 {
   position: absolute;
   top: 40%;
   left: 52%;
   font-weight: 400;
   font-size: 14px;
   line-height: 27px;
   letter-spacing: 0.03em;
   height: 116px;
   width: 408px;

   color: #8D96BD;
}

.swiper__button1 {
   position: absolute;
   width: 113px;
   height: 43px;
   left: 52%;
   top: 66.4%;
   background: #D2E1FF;
   border-radius: 2px;
   font-weight: 700;
   font-size: 13px;
   line-height: 16px;
   /* identical to box height */


   text-align: center;

   color: #3A79FF;
}

.swiper__button2 {
   position: absolute;
   width: 211px;
   height: 43px;
   left: 62%;
   top: 66.4%;

   background: #FFFFFF;
   border-radius: 2px;
   font-weight: 700;
   font-size: 13px;
   line-height: 16px;
   /* identical to box height */

   text-align: center;

   color: #A6B6DA;
}

.contaner__otzivi {
   display: flex;
}

.otzivi__text {
   height: 479px;
   width: 720px;
   background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}

.text__1 {
   padding-left: 276px;
   padding-top: 146.31px;
   padding-bottom: 31.06px;
   font-weight: 500;
   font-size: 10px;
   line-height: 12px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #3D4F9F;
}

.text__2 {
   padding-left: 276px;
   padding-bottom: 14.03px;
   font-weight: 500;
   font-size: 36px;
   line-height: 45px;

   color: #3D4F9F;
}

.text__3 {
   padding-left: 276px;
   font-weight: 600;
   font-size: 12px;
   line-height: 23px;
   letter-spacing: 0.03em;
   height: 78.16px;
   color: #A4ABC8;
}

.swiper3 {
   width: 720px;
   height: 362px;
}

.swiper__contaner3 {
   height: 479px;
   width: 720px;
   background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);

}

.slide__contaner3 {
   margin-top: 109px;
   margin-left: 20px;
   width: 423px;
   height: 175.37px;

   background: #FFFFFF;
   border: 1px solid #D8E3FE;
   box-shadow: 0px 5px 50px #F3F5FA;
}

.slide1 {
   width: 720px;
   height: 362px;

}





.slide__text3 {
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;

   color: #676F95;
   padding-top: 41.09px;
   padding-left: 69px;
   padding-bottom: 22.05px;
}

.slide__img4 {
   padding-left: 180px;
}

.customer__kelp {
   width: 1440px;
   height: 964px;

   background: #FFFFFF;
}

.help__1 {
   font-weight: 500;
   font-size: 10px;
   line-height: 12px;
   /* identical to box height */

   letter-spacing: 0.1em;
   text-transform: uppercase;
   text-align: center;
   padding-top: 176px;
   padding-bottom: 20px;
   color: #3D4F9F;
}

.help__2 {
   font-weight: 500;
   font-size: 24px;
   line-height: 30px;
   /* identical to box height */

   text-align: center;
   padding-bottom: 68px;
   color: #3D4F9F;
}

.help__button1 {
   display: block;
   margin-left: 372px;
   font-weight: 500;
   font-size: 15px;
   line-height: 19px;
   letter-spacing: 0.03em;
   color: #8E96B7;
   margin-bottom: 15px;
}

.arrow {
   border: solid #8E96B7;
   border-width: 0 3px 3px 0;
   display: inline-block;
   padding: 3px;
   margin-right: 24px;
   transform: rotate(45deg);
}

.down {
   transform: rotate(45deg);
}

.razdel__line {
   width: 743px;
   border: 1px solid #D8E3FE;
   margin: 0 auto;
}

.help__button2 {
   display: block;
   margin-top: 17px;
   margin-left: 372px;
   font-weight: 500;
   font-size: 15px;
   line-height: 19px;
   letter-spacing: 0.03em;
   color: #8E96B7;
   margin-bottom: 15px;
}

.down2 {
   transform: rotate(45deg);
}

.help__button3 {
   display: block;
   margin-top: 17px;
   margin-left: 372px;
   font-weight: 500;
   font-size: 15px;
   line-height: 19px;
   letter-spacing: 0.03em;
   color: #8E96B7;
   margin-bottom: 15px;
}

.down3 {
   transform: rotate(45deg);
}

.arrow__up {
   transform: rotate(-135deg);
   border: solid #495274;
   border-width: 0 3px 3px 0;
   display: inline-block;
   padding: 3px;
   margin-right: 24px;
   transition: all 1s ease;
}

.douc__text {
   display: none;
   position: relative;
   margin-left: 428px;
   margin-bottom: 53px;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 27px;
   letter-spacing: 0.03em;

   color: #8D96BD;

}

.douc__button {

   position: absolute;
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 16px;
   /* identical to box height */
   text-align: center;
   width: 195px;
   height: 43px;
   color: #7382A3;
   background: #E8ECF4;
   border-radius: 2px;
   left: 453px;
   top: 10px;
}

.help__button4 {
   display: block;
   margin-top: 17px;
   margin-left: 372px;
   font-weight: 500;
   font-size: 15px;
   line-height: 19px;
   letter-spacing: 0.03em;
   color: #8E96B7;
   margin-bottom: 15px;
}

.down4 {
   transform: rotate(45deg);
}

.help__button5 {
   display: block;
   margin-top: 17px;
   margin-left: 372px;
   font-weight: 500;
   font-size: 15px;
   line-height: 19px;
   letter-spacing: 0.03em;
   color: #8E96B7;
   margin-bottom: 15px;
}

.down5 {
   transform: rotate(45deg);
}